@{
    
} 


<!--OUCH DID I NEED SO MANY DIVS HERE..:P..-->
<div id="latest">
     <div id="container2">
     <div id="randomcrap">
		 <!--LEFT LINKS-->
 <div class="blocklinks">
 <h3>Links &rsaquo;</h3>
 <a href="http://www.aim.pucit.edu.pk/" class="link"><span class="name"></span> AIM RL Official Website</a>
 <a href="https://www.facebook.com/AIMResearchLab" class="link"><span class="name"></span> find us on facebook</a>
 <a href="http://www.pucit.edu.pk" class="link"><span class="name"></span> pucit official website</a>

 </div>
    </div>
		<!--LASTEST ARTICLES-->
     <div id="articles">
 <div class="blocklinks">
 <h3>Labels &rsaquo;</h3>
 <a href="http://www.wikipedia.org/" class="link">Natural Language Processing</a>
 <a href="http://www.wikipedia.org/" class="link">Text Mining</a>
 <a href="http://www.wikipedia.org/" class="link">Data Mining</a>
 
 </div>
     </div>
     </div>


     </div>
 <div id="footer">
 <p>Copyright &copy; Artificial Intelligence and Multidisciplinary (AIM) Research Laboratory</p>
 &nbsp;
 </div>