@{
    
}
   


<div id="header">
 <div id="logo">
<h1>Incident.Predictor</h1>
<h2>Based On News Text Mining</h2>
 </div>
 
 <!--TAB NAVIGATION-->
 <div id="topnav">
<a href="~/Home/Index" class="active">Home</a>
<a href="~/Home/Archive">Demo</a>
<a href="~/Admin/Index">Acquire Data</a>
<a href="~/Home/AboutApplication">About</a>
<a href="~/Home/ContactUs">Contact</a>
 </div>
</div>
