@{
}
<html lang="en">
    <head>

        <meta charset="utf-8" />
		<title>Incident Predictor Based On News Text Mining</title>       
        <meta http-equiv="content-type" content="application/xhtml; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="~/Content/Style/stylesheet.css" media="screen, print, projection" />
        <link href="~/Content/Style/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="~/Content/themes/base/bootstrap-datetimepicker.min.js"></script>



    </head>



    <body >
        <div id="header">
            @RenderPage("~/Views/Shared/_Header.cshtml")
        </div>

        <div id="content">
           
            @RenderBody()
            <br><br><br>
        </div>
           

        <div id="footer">
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </div>
    </body>

</html>