@{
    Layout = "~/Layouts/_Layout.cshtml";   
    PageData["title"] = "eShop";

    var db = Database.Open("eShop"); 
    var sqlSelect = "SELECT ProductID, Name, Price, ImagePath FROM Products ";
    var products = db.Query(sqlSelect);     
}


      <div class="row">

  <!-- Side Bar -->

        <div class="four mobile-four columns">

          <img src="~/Shared/images/logo2.jpg">

          <div class="hide-for-small panel">
            <h3>Introduction</h3>
            <h5 class="subheader">Online shopping website where things can be bought via internet. 
            </h5>
              
          </div>

          <a href="#">
          <div class="panel callout radius" align="center">
            <h6>0&nbsp; items in your cart</h6>
          </div>
          </a>            
            

        </div>

    <!-- End Side Bar -->

    <!-- Thumbnails -->
    
        <div class="eight columns">
          <div class="row">
            @foreach (var item in products) { 
                <div class="four mobile-two columns">
                  <a href="/ProductDetails/@item.ProductID"><img id="img" alt="Image not available" src="@item.ImagePath"></a>

                  <div class="panel">
                   <a href="/ProductDetails/@item.ProductID"> <h5>@item.Name</h5></a>

                    <h6 class="subheader">£@item.Price</h6>
                      <div><a href="~/User/ShoppingCart/@item.ProductID">add to cart</a></div>
                  </div>                    
                </div>
            
            }
 
    <!-- End Thumbnails -->

          </div>
        </div>
      </div>

    </div>
  </div>
 