@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<body>
    <div >
        
       <p>
           The project 'Incident Predictor Based on NEWS Text Mining' is a part of 
           <b>PUCIT Artificial Intelligence and Multidisciplinary Research Laboratory (AIM-RL).</b> 
           <br>
           Subject of this research project is natural language processing using the NEWS text and 
           transform all the news text related to accidents and murders into useful information. <br>
           A lot of work can be done in regarding this research. Initially I am only extracting;
           <br>i.   the incident area
           <br>ii.  incident date 
           <br>iii. Predicitng or highlighting the most favorable location for the incident. 
           
       </p>

       
        
    </div>
    </body>

