@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archive";
    
}


    <div >
        <h3>News Log</h3>
       
        <table border="1">
            <tr><td>id#</td> <td>Category</td> <td>Description</td> <td>Dead</td> <td>Injured</td> <td>Day & Date</td> <td> Source </td></tr>
        </table>
    </div>

