@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

    
        
    <div>
        <form>
          <br><b> Artificial Intelligence and Multidisciplinary Research Laboratory (AIM-RL) </b>
            <br>  Old Campus - The Mall 
            <br>  Lahore - Punjab  PAKISTAN
            
              <table>
          <tr><td>Contact Person </td><td><b> Maheen Khizar</b></td></tr>
          <tr><td>Email Address </td><td><b> maheenkhizar30 at gmail dot com</b> </td></tr>
                  <tr><td></td><td><b>  bsef09m013 at pucit dot edu dot pk</b></td></tr>
          
            </table>
            </form>  
    </div>

