@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title="Home Page";
}

    <div>
      <p>
            Code and Documentation for this project can be found on GitHub.<br>
            For any suggestion and improvment me send us an email.<br>
          
          <a href="https://github.com/">GitHub Link </a> 
          
      </p>
    </div>
